.App {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
  background: #0086F0;
  color: white;
}

h1 {
  margin: 0;
}

p {
  font-size: 30px;
}

input {
  height: 30px;
  width: 200px;
  box-sizing: border-box;
  margin: 0px 5px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
  font-size: 18px;
}

button {
  height: 30px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 15px;
  margin: 0 5px;
  background: transparent;
  color: white;
  font-size: 18px;
}

.console, .network {
  margin-bottom: 150px;
}

.network img {
  height: 150px;
}